@media screen and (max-width: 480px) {
    .pic_ai {
        width: 100%;
    }
    
    .form-grid {
        max-width: 100% !important;
        display: flex;
        flex-direction: column;
    }

    #portfolio .col-sm-4 {
        padding: 0;
    }

    #portfolio .row {
        margin: 0;
    }

    .pic-container.pic-background {
        padding-left: 0 !important;
    }

    #myPage > div:nth-child(4) > div > div.col-sm-8 > h3:nth-child(4) {
        padding: 0 !important;
    }
    
    #myPage > div:nth-child(4) > div > div.col-sm-8 > h3:nth-child(7) {
        padding: 0 !important;
    }

    #gantchar,
    #resource {
        padding: 20px;
    }

    #myPage img.pic_side {
        width: 100%;
    }

    #myPage > div.form-grid > div.side_row > div > div {
        gap: 25px !important;
        justify-content: center !important;
    }
}